<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1>Cadastro</h1>
        </div>
        <div class="panel-body">
          <form [formGroup]="formulario" (ngSubmit)="salvar()">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nome*:</label>
                  <input type="text" formControlName="nome" class="form-control" />
                  <app-mensagem-validacao [mensagens]="mensagensValidacao.nome" [control]="form.nome" [erros]="form.nome.errors"></app-mensagem-validacao>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sobrenome*:</label>
                  <input type="text" formControlName="sobrenome" class="form-control" />
                  <app-mensagem-validacao [mensagens]="mensagensValidacao.sobrenome" [control]="form.sobrenome" [erros]="form.sobrenome.errors"></app-mensagem-validacao>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Data de nascimento*:</label>
                  <input type="date" formControlName="dataNascimento" class="form-control" />
                  <app-mensagem-validacao [mensagens]="mensagensValidacao.dataNascimento" [control]="form.dataNascimento" [erros]="form.dataNascimento.errors"></app-mensagem-validacao>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Email*:</label>
                  <input type="email" name="email" formControlName="email" class="form-control" />
                  <app-mensagem-validacao [mensagens]="mensagensValidacao.email" [control]="form.email" [erros]="form.email.errors"></app-mensagem-validacao>
                </div>
              </div>
            </div>
            <div formGroupName="endereco">
              <div class="col-md-12">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>CEP*:</label>
                    <input type="text" formControlName="cep" (keyup)="buscarCep()" class="form-control" />
                    <app-mensagem-validacao [mensagens]="mensagensValidacao.cep" [control]="enderecoForm.controls.cep" [erros]="enderecoForm.controls.cep.errors"></app-mensagem-validacao>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Logradouro*:</label>
                    <input type="text" formControlName="logradouro" class="form-control" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Bairro*:</label>
                    <input type="text" formControlName="bairro" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-md-4">
                  <label>Número*:</label>
                  <input type="text" formControlName="numero" class="form-control" />
                  <app-mensagem-validacao [mensagens]="mensagensValidacao.numero" [control]="enderecoForm.controls.numero" [erros]="enderecoForm.controls.numero.errors"></app-mensagem-validacao>
                </div>
                <div class="col-md-4">
                  <label>Cidade*:</label>
                  <input type="text" formControlName="localidade" class="form-control" />
                </div>
                <div class="col-md-4">
                  <label>UF*:</label>
                  <input type="text" formControlName="uf" class="form-control" />
                </div>
              </div>
            </div>
            <div>
              <button type="submit" style="margin-top: 20px;" [disabled]="formulario.invalid" class="btn btn-info pull-right">salvar</button>
              <button type="button" style="margin-top: 20px;" (click)="limparFormulario()" class="btn btn-default pull-left">limpar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>